.cards {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 1px;
}

.img-left img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.right h5,
p,
p {
  margin: 0;
  padding: 0;
}
